@import '~antd/dist/antd.css';

.h100 {
    height: calc(100vh - 64px);
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.ant-row .ant-form-item {
    width: 300px;
}

.ant-form-item-control-input-content .ant-btn-primary{
    width: 100%;
}

.form-space{
    margin-top: 10px;
}

.form-error{
    color: red;
    margin-bottom: 5px;
}

.ant-row .ant-form-item{
    width: auto;
    margin-bottom: 0;
}

.ant-picker-calendar {
    max-width: 1180px;
    margin: 35px auto;
    padding: 16px;
}

.ant-row .ant-row-center {
    margin-bottom: 60px;
}

.form-item-space {
    margin-bottom: 15px !important;
}